
<div class="hidden md:flex flex-col justify-center py-12 pr-8">
    <span class="text-5xl font-bold text-cobalt mb-4">SpeakUp</span>
    <p class="text-lg text-ink mb-6">Learn languages with real teachers</p>
    <img src="{{ asset('images/language-learning.svg') }}" alt="Language Learning" class="-mt-8 max-w-8/10 h-auto">
</div>