{% extends 'base.html.twig' %}

{% block title %}Check your email{% endblock %}

{% block body %}
    <h1>Thank you for registering!</h1>
    <p>We’ve sent a confirmation link to your email address. Please check your inbox and click the link to activate your account.</p>
    <a href="">Back to login</a>
{% endblock %}
