{% extends "mail/base.html.twig" %}

{% block content %}
<h1>Password Reset Request</h1>
<p>Hello {{ name }},</p>
<p>We received a request to reset your password. Click the link below to set a new password:</p>
<p>
    <a href="{{ resetUrl }}">Reset My Password</a><br><br>
    This link will expire at {{ expiresAt }}.
</p>
{% endblock %}


